body { 
background: #01363d;
color:#fdd62c;
}

#intro div{
	text-align: center;
	padding-top: 50px;
} 

a {
	color: #fdd62c;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

a:hover:visited {
	color: #fdd62c;
	text-decoration: 
}

a:visited {
	color: #fdd62c;
	text-decoration: 
}

a:active {
	color: #fdd62c;
	text-decoration: 
}

a:active:visited {
	color: #fdd62c;
	text-decoration: 
}

